*.user
*.user.*
*build-*
*.keep
*.vscode
#*.bak
#*.png
#*.bmp
*.xcf
#*.xml
#*.txt
#*.exe
*.o
*.qmake*
Makefile
*Makefile*
debug
release
#*.rc
.clang-format
/src/tiledpatternmaker_plugin_import.cpp
/src/tiledpatternmakerd_plugin_import.cpp
/src/uic_wrapper.bat
/src/build/*
